*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Task3{
    background:linear-gradient(to right,#ff7f7f, #fdd6d6) ;
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.Task3 h3{
    color:red;
}
.Task h5{
    color: black;
}